.grayblueimg { background-image: url("assets/images/b&w.jpg"); height: 650px;}

#ST {
    margin-top: 5%; 
    margin-left: 1%;
    font-size: 50px; 
    font-family: 'Playfair Display', serif;
    z-index: 2; 
    color: black;
    position: relative;
    margin-bottom: 10px; 
    letter-spacing: 3px; 
}

#box {
    position: absolute; 
    margin-top: -3px; 
    margin-left: 20px;
    height: 200px; 
    width: 480px;
    padding:40px;
    border: 1px solid black; 
    z-index: 1; 
    opacity: 0.9; 
}

.fa-quote-left {
    z-index: 3; 
    margin-left: -55px; 
    margin-top: -40px;
    position: absolute; 
}

#box2 {
    position: absolute; 
    margin-top: -10px;
    margin-left: -1px;
    margin-bottom: 50px; 
    height: 210px; 
    width: 480px;
    padding:30px;
    border: 1px solid rgb(169, 204, 29); 
    background: rgb(169, 204, 29);
    z-index: 2; 
}

#box2-text {
font-family: 'Raleway';
font-size: 20px; 
justify-content: left;
color: black; 
}

