.grayblueimg { background-image: url("assets/images/b&w.jpg"); height: 650px;}

/* .FullyCovered {
font-family: 'Raleway';
color: rgb(90, 90, 90);
font-size: 100px; 
padding-top: 140px; 
margin-left: 30px; 
line-height: 90px; 
letter-spacing: 3px;
float: right; 
} */

#STsquare {
margin-top: -16px;
}

.STlogo {
    margin-top: 100px; 
    font-size: 70px;
    font-weight: bold; 
    letter-spacing: -7px; 
    position: absolute; 
}

#STtext {
    margin-top: -61px; 
    letter-spacing: -1px;
    font-size: 60px; 
}

.STblurb {
    color: black;
    position: absolute; 
    margin-top: 210px;
    padding: 30px; 
    padding-left: 0px; 
    text-align: left; 
    font-family: 'Raleway';
    font-size: 21px; 
    width: 600px; 
    align-content: justify;
}

#learnmore {
    font-family: 'Raleway';
    font-size: 17px;
    padding: 15px;
    color: white;
    background-color: rgb(15, 15, 15); 
    border: 1px solid rgb(15, 15, 15);
    border-radius: 7%;
    margin-top: 420px;
    float: left; 
}

#learnmore:hover {
    color: rgb(169, 204, 29); 
    background-color: rgb(49, 49, 49); 
    cursor: pointer; 
}

@media only screen and (max-width: 768px) {
    .STlogo {
        font-size: 45px;
        margin-left: 10px; 
        letter-spacing: -5px; 
    }
    #STtext {
        margin-top: -45px; 
        font-size: 40px; 
    }
    .FullyCovered {
    font-size: 60px;
    margin-left: 60px;
    }

    .STblurb {
        margin-top: 170px;
        font-size: 15px;
        width: 500px; 
    }
    #STsquare {
        margin-top: -30px;
    }
    #learnmore {
        margin-top: 320px;
    }
    .grayblueimg { 
        height: 500px; 
}
}