.grayblueimg { background-image: url("assets/images/b&w.jpg"); height: 650px;}

/* .FullyCovered {
margin: 0 auto; 
font-family: 'Raleway';
color: rgb(90, 90, 90);
font-size: 100px; 
padding-top: 170px; 
line-height: 90px; 
letter-spacing: 5px;
} */

.STlogo {
    margin-top: 140px; 
    font-size: 70px;
    font-weight: bold; 
    letter-spacing: -7px; 
    position: absolute; 
}

#STtext {
    margin-top: -61px; 
    letter-spacing: -1px;
    font-size: 60px; 
}

.STblurb {
    color: black;
    position: absolute; 
    margin-top: 270px;
    padding: 30px; 
    border: 1px solid black; 
}

@media only screen and (max-width: 768px) {
    .STlogo {
        font-size: 45px;
        margin-left: 10px; 
        letter-spacing: -5px; 
    }
    #STtext {
        margin-top: -45px; 
        font-size: 40px; 
    }
    .FullyCovered {
    font-size: 60px;
    margin-left: 60px;
    }
}
