.header-wrapper {
  width: 100%;
  position: relative;
}
#video-bg {
  width: 100%;
}
#mobile-bg {
  display: none;
}
#header-title {
  position: absolute;
  width: 45vw;
  margin-top: 2%;
  margin-left: 5%;
}
@media only screen and (max-width: 768px) {
#video-bg {
  display: none;
}
#mobile-bg {
  display: block;
  width: 100%;
}
#header-title {
  position: absolute;
  width:65vw;
  margin-top: 35%;
  margin-left: 6.5%;
}
}