.grayblueimg { background-image: url("assets/images/b&w.jpg"); height: 650px;}

#ST {
    margin-top: 5%; 
    margin-left: 1%;
    font-size: 50px; 
    font-family: 'Playfair Display', serif;
    z-index: 2; 
    color: black;
    position: relative;
    margin-bottom: 10px; 
    letter-spacing: 3px; 
}

#box {
    position: absolute; 
    margin-top: -3px; 
    margin-left: 20px;
    height: 220px; 
    width: 480px;
    padding:40px;
    border: 1px solid black; 
    z-index: 1; 
    opacity: 0.9; 
}

.fa-quote-left {
    z-index: 3; 
    margin-left: -55px; 
    margin-top: -40px;
    position: absolute; 
}

#box2 {
    position: absolute; 
    margin-top: -10px;
    margin-left: -1px;
    margin-bottom: 50px; 
    height: 230px; 
    width: 480px;
    padding:30px;
    border: 1px solid rgb(169, 204, 29); 
    background: rgb(169, 204, 29); 
    z-index: 2; 
}

#box2-text {
font-family: 'Raleway';
font-size: 20px; 
justify-content: left;
color: black; 
}

#box2-speaker {
font-family: 'Raleway';
margin-top: -7px; 
font-size: 15px; 
color: rgb(255, 255, 255); 
text-align: right; 
font-weight: bold; 
}

@media only screen and (max-width: 768px) {
    #ST {
    font-size: 30px; 
    }

    #box {
    height: 220px; 
    width: 430px;
    padding:40px;
    }

    #box2 {
    height: 230px; 
    width: 410px;
    padding:30px;
    }

    #box2-text {
    font-size: 17px; 
    }
}